* {
  margin: 0;
  padding: 0;
}

body {
  background-color: aliceblue !important;
}
.heading {
  font-size: 25px;
  text-transform: uppercase;
  margin: 20px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.btn-Operators {
  width: 50px;
  height: 50px;
  border: 1px solid transparent;
  border-radius: 50%;
  background-color: black;
  color: white;
  font-size: 20px;
  transition: all 0.2s ease-in-out;
}

.btn-Operators:hover {
  color: black;
  background-color: white;
  border: 1px solid black;
}

.button-container {
  height: 300px;
  width: 300px;
  border: 1px solid black;
  flex-wrap: wrap;
  background-color: #ddd;
}

.cal-container {
  border: 1px solid black;
  border-radius: 20%;
  box-shadow: 0 0 20px #0077b5;
  animation: glow 2s infinite alternate;
}

.cal-input {
  font-size: 20px;
  color: black;
}

@keyframes glow {
  0% {
    box-shadow: 0 0 10px blue; /* Initial shadow */
  }
  100% {
    box-shadow: 0 0 70px blue; /* Increased shadow */
  }
}
